<header class="box-shadow">
  <nav>
    <mat-toolbar>
      <!--snav.toggle()-->
      <button mat-icon-button (click)="onOpenSideBar()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button routerLink="book/book-list">
        <mat-icon aria-hidden="false" aria-label="Example home icon">library_books</mat-icon>
        Book management
      </button>
      <div class="flex-spacer"></div>
      <button mat-button *ngIf="!isAuthentication" routerLink="/auth">
        <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
        Login
      </button>
      <button mat-button *ngIf="isAuthentication" (click)="onLogout()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">exit_to_app</mat-icon>
        Logout
      </button>
      <button mat-button *ngIf="isAuthentication" routerLink="user/user-profile">
        <mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon>
        Hello,{{username}}
      </button>
    </mat-toolbar>
  </nav>
</header>
