<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title text-center">Create new list of tasks</h5>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="titleName" class="font-weight-bold">Category name: </label>
          <input type="text" class="form-control"
                 id="titleName"
                 [(ngModel)]="newCurrentTasks.categoryName"
                 placeholder="Name of category"
                 name="newTask">
        </div>
        <label for="titleName" class="font-weight-bold">List of Tasks: </label>

        <div class="form-group" *ngFor="let task of newCurrentTasks.tasks, let i = index">
          <div class="input-group col-lg-12">
            <div class="input-group-prepend">
              <span class="input-group-text font-weight-bold" id="basic-addon1">{{i + 1}}/</span>
            </div>
            <input type="text" class="form-control"
                   [placeholder]="'Name of task '+ (i+1)"
                   aria-label="Username"
                   aria-describedby="basic-addon1"
                   [(ngModel)]="task.name"
                   name="task">
            <div class="input-group-append" (click)="onRemoveTask(i)">
              <span class="btn btn-danger"><i class="fa fa-trash"></i></span>
            </div>
          </div>
        </div>
        <div class="text-right">
          <input type="button" class="btn btn-primary ml-4" value="New Task" (click)="onAddNewTask()">
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-6">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="card-hover-shadow-2x mb-3 card">
          <div class="card-header-tab card-header">
            <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
              <i class="fa fa-tasks"></i>&nbsp; {{newCurrentTasks.categoryName}}
            </div>
          </div>
          <div class="scroll-area-sm" *ngFor="let task of newCurrentTasks.tasks;let i=index">
            <div class="ps-show-limits">
              <div style="position: static;" class="ps ps--active-y">
                <div class="ps-content">
                  <ul class=" list-group list-group-flush">
                    <li class="list-group-item">
                      <div class="todo-indicator bg-warning"></div>
                      <div class="widget-content p-0" *ngIf="task.name!='';else TaskHasAName">
                        <div class="widget-content-wrapper">
                          <div class="widget-content-left mr-2">
                            <span class="btn btn-link rounded-circle trigger" [owlDateTimeTrigger]="dt1">
                              <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                              <input [owlDateTime]="dt1" class="datetime-widget" [(ngModel)]="task.deadline"
                                     [min]="task.createdAt">
                            </span>
                            <owl-date-time #dt1></owl-date-time>

                          </div>
                          <div class="widget-content-left">
                            <div class="widget-heading">{{task.name}}</div>
                            <div class="widget-subheading">
                              <div><span class="font-size-12 text-capitalize">Status: {{task.status}}</span>
                                <div class="badge badge-pill badge-info ml-2">NEW</div>
                              </div>
                              <div><span class="font-size-12">Deadline: {{task.deadline.toLocaleString()}}</span></div>
                            </div>
                          </div>
                          <div class="widget-content-right">
                            <button class="border-0 btn-transition btn btn-outline-primary"
                                    (click)="onChangeStatus(i,'implement')"><i class="fa fa-plus-square"></i>
                            </button>
                            <button class="border-0 btn-transition btn btn-outline-success"
                                    (click)="onChangeStatus(i,'done')"><i class="fa fa-check"></i>
                            </button>
                            <button class="border-0 btn-transition btn btn-outline-danger" (click)="onRemoveTask(i)"><i
                              class="fa fa-trash"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="d-block text-right card-footer">
            <button class="btn btn-primary" (click)="onSaveListTask()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #TaskHasAName>
  <p class="text-danger">The tasks must be has a name</p>
</ng-template>
