<div class="content book--detail" *ngIf="currentBook">
  <h1 class=" text--center book__title">{{'Book Detail'|uppercase}}</h1>
  <button mat-raised-button color="primary" [routerLink]="['/book/edit/',idBook]">Edit</button>
  <button mat-raised-button color="warn" style="margin-left:10px" (click)="onDeleteBook()">Delete</button>
  <mat-tab-group animationDuration="350ms">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">photo</mat-icon>
        Cover image
      </ng-template>
      <div class="max-width">
        <div class="book__image">
          <img mat-card-image src="http://placehold.it/750x750" alt="Photo of a Book">
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">info</mat-icon>
        Information
      </ng-template>
      <h2>Title:</h2>{{currentBook.title}} <br>
      <h2>Author:</h2>{{currentBook.author}} <br>
      <h2>Content:</h2>{{currentBook.content}} <br>
      <h2>Description:</h2>{{currentBook.description}} <br>
      <h2>Update at:</h2>{{currentBook.updatedAt|date:'short'}} <br>
      <h2>Created By:</h2>{{currentBook.userDTO.email}} <br>
    </mat-tab>
  </mat-tab-group>

</div>
