<button (click)="onClear()" class="btn btn-danger mt-2">Clear All Task</button>
<div class="row">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Order Column -->
    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No.</th>
      <td mat-cell *matCellDef="let i=index"> {{i + 1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Task name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
      <td mat-cell *matCellDef="let element"
          [ngClass]="{'text-danger':isOverTime(element)}"> {{isOverTime(element) ? 'overdue' : element.status}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="deadline">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Deadline</th>
      <td mat-cell *matCellDef="let element"> {{element.deadline|date:'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="createAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Create At</th>
      <td mat-cell *matCellDef="let element"> {{element.createAt|date:'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Category</th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <!--<ng-container matColumnDef="Action">-->
    <!--<th mat-header-cell *matHeaderCellDef> Action</th>-->
    <!--<td mat-cell>-->
    <!--<button class="btn btn-success">Edit</button></td>-->
    <!--</ng-container>-->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20,50]" showFirstLastButtons></mat-paginator>
</div>

