<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <app-header></app-header>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <!--MENU = ['Create Book', 'Books', 'Users', 'Profile', 'Logout'];-->
        <a mat-list-item routerLink="/book/new">Create Book</a>
        <a mat-list-item routerLink="/book/book-list">Books</a>
        <a mat-list-item routerLink="/user/user-list">Users</a>
        <a mat-list-item routerLink="/user/user-profile">Profile</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!--content of page-->
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
