table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mat-row:hover {
  background: whitesmoke;
}

.mat-column {
  &-id {
    flex: 0 0 10%;
    width: 10%;
  }

  &-title {
    flex: 0 0 15%;
    width: 20%;
  }

  &-author {
    flex: 0 0 10%;
    width: 10%;
  }

  &-description {
    flex: 0 0 15%;
    width: 30%;
  }

  &-enabled {
    flex: 0 0 8%;
    min-width: 8%;
  }

  &-action {
    min-width: 100px;
  }
}

